.navbar-brand{
    background-color: orange;
    padding: 10px;
}

.content-element{
    background-color: white;
    margin-top: 20px;
    padding: 20px;

}


.navbar-custom {
    background-color: white;
    color: black;
}

h1{
    color: orange;
    font-size: 24px;
}

h2{
    color: orange;
    font-size: 20px;
}

h3{
    color:blue;
    font-size: 20px;
    text-align: center;
}

